<Location "/transmission">
AuthType Basic
AuthName "Authorization required"
AuthBasicProvider file
AuthUserFile /etc/apache2/passwd/transmission
Require user {{ transmission_username }}
</Location>

<Proxy *>
    Order Allow,Deny
    Allow from all
</Proxy>

ProxyPass /transmission http://localhost:9091/transmission
ProxyPassReverse /transmission http://localhost:9091/transmission
Redirect 301 /transmission /transmission/web
