# FireHOL configuration file
#
# See firehol.conf(5) manual page and FireHOL Manual for details.
#
################################################################################

version 6

################################################################################

# Configuration variables
# See firehol-defaults.conf

# Enable/disable IPv6
ENABLE_IPV6=0

# Prefix for firehol log messages
FIREHOL_LOG_PREFIX="[firehol]"

# default action for traffic not matched by any interface or router definition that
# was incoming, outgoing or for forwarding respectively. This traffic is logged.
UNMATCHED_INPUT_POLICY="DROP"
UNMATCHED_FORWARD_POLICY="DROP"
UNMATCHED_OUTPUT_POLICY="DROP"

# default actionfor traffic not matched by any rule WITHIN an interface
# It can be overridden using the 'policy ACTION' directive
DEFAULT_INTERFACE_POLICY="DROP"

################################################################################

# Custom service definitions
{% for service in firehol_services %}
server_{{ service.name }}_ports="{{ service.server_port }}"
client_{{ service.name }}_ports="{{ service.client_port }}"
{% endfor %}

################################################################################


{% for network in firehol_networks %}
ipv4 interface {{ network.interface }} {{ network.name }} src {{ network.src }}
    protection strong
    policy {{ network.policy }}
{% for service in network.allow_input %}
    server {{ service }} accept
{% endfor %}
{% for service in network.allow_output %}
    client {{ service }} accept
{% endfor %}

{% endfor %}
