# srv01-utils - configuration
# This file is sourced from /usr/local/bin/srv01-utils

diskusage_warning_threshold='{{ diskusage_warning_threshold | int }}'
backups_dir="{{ backups_dir }}"
report_arpscan_interface="{{ ansible_default_ipv4.interface }}"
report_run_debsums="{{ report_run_debsums }}"
report_run_lynis="{{ report_run_lynis }}"
report_run_rkhunter="{{ report_run_rkhunter }}"
report_run_smart="{{ report_run_smart }}"

