# Fail2ban configuration
# Default values
[DEFAULT]
{% if fail2ban_ignore_default_network %}
ignoreip  = 127.0.0.1 {{ cidr_network }} {{ ' '.join(fail2ban_ignoreip) }}
{% else %}
ignoreip  = 127.0.0.1 {{ ' '.join(fail2ban_ignoreip) }}
{% endif %}
maxretry  = 5
bantime   = 604800
destemail = root@localhost
banaction = iptables-ipset-proto6-allports
action    = %(action_)s

# Jails

[sshd]
# openssh server auth failures
enabled   = true
maxretry  = 5
filter    = sshd
port      = {{ ssh_port }}
logpath   = /var/log/auth.log
bantime   = 604800

[pam-generic]
# PAM login failures
enabled   = true
maxretry  = 5
filter    = pam-generic
logpath   = /var/log/auth.log
bantime   = 604800
