<IfModule mod_ssl.c>
	SSLCertificateFile /etc/letsencrypt/live/{{ host_fqdn }}/fullchain.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/{{ host_fqdn }}/privkey.pem
	Include /etc/letsencrypt/options-ssl-apache.conf
</IfModule>