{% for item in apache_password_protected_dirs %}
<Directory "/var/www/{{ item.dir }}">
AuthType Basic
AuthName "Authorization required"
AuthBasicProvider file
AuthUserFile /etc/apache2/passwd/{{ item.dir | regex_replace('/', '_') }}
Require user {{ item.user }}
</Directory>
{% endfor %}