<VirtualHost *:443>
    ServerName catch-all.local
    DocumentRoot /var/www/html
    LogLevel warn
    ErrorLog ${APACHE_LOG_DIR}/other-vhosts-error.log
    CustomLog ${APACHE_LOG_DIR}/other-vhosts-access.log combined
    SSLEngine On
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ host_fqdn }}
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www

    # Logging; possible values include:
    # debug, info, notice, warn, error, crit, alert, emerg
    LogLevel warn
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    SSLEngine On

    <Directory /var/www>
        Options -Indexes +FollowSymLinks -MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

</VirtualHost>
