#
# Disable access to the entire file system except for the directories that
# are explicitly allowed later.
#
# This currently breaks the configurations that come with some web application
# Debian packages.
#
#<Directory />
#	AllowOverride None
#	Order Deny,Allow
#	Deny from all
#</Directory>


# Changing the following options will not really affect the security of the
# server, but might make attacks slightly more difficult in some cases.

#
# ServerTokens
# This directive configures what you return as the Server HTTP response
# Header. The default is 'Full' which sends information about the OS-Type
# and compiled in modules.
# Set to one of:  Full | OS | Minimal | Minor | Major | Prod
# where Full conveys the most information, and Prod the least.
#
# Minimize apache Server Tokens
#ServerTokens Minimal
#ServerTokens OS
#ServerTokens Full
ServerTokens Prod

#
# Optionally add a line containing the server version and virtual host
# name to server-generated pages (internal error documents, FTP directory
# listings, mod_status and mod_info output etc., but not CGI generated
# documents or custom error documents).
# Set to "EMail" to also include a mailto: link to the ServerAdmin.
# Set to one of:  On | Off | EMail
#
#ServerSignature Off
# Disable apache server signature
ServerSignature Off

#
# Allow TRACE method
#
# Set to "extended" to also reflect the request body (only for testing and
# diagnostic purposes).
#
# Set to one of:  On | Off | extended
#
TraceEnable Off
#TraceEnable On

#
# Forbid access to version control directories
#
# If you use version control systems in your document root, you should
# probably deny access to their directories. For example, for subversion:
#
#<DirectoryMatch "/\.svn">
#	Deny from all
#	Satisfy all
#</DirectoryMatch>
# 
# This is corrected in /etc/apache2/conf.d/prevent-ssh-dir-access
# Accessing /.ssh returns a 403 error
#



# https://blog.adminrezo.fr/2016/12/securiser-serveur-apache-https-headers/
#
# Setting this header will prevent MSIE from interpreting files as
# something else than declared by the content type in the HTTP headers.
# Requires mod_headers to be enabled.
#
# 
Header always set X-Content-Type-Options "nosniff"

# enable apache XSS protection
# Some browsers have a built-in XSS filter that will detect some cross site
# scripting attacks. By default, these browsers modify the suspicious part of
# the page and display the result. This behavior can create various problems
# including new security issues. This header will tell the XSS filter to
# completely block access to the page instead.
# Requires mod_headers to be enabled.
#
Header always set X-XSS-Protection "1; mode=block"

# 
# Setting this header will prevent other sites from embedding pages
# from this site as frames. This defends against clickjacking attacks.
# Requires mod_headers to be enabled.
#
Header always set X-Frame-Option: "sameorigin"

# Prevent browsers from runnning scripts injected form other domains
# This is disabled as it leads to duplicate Content-Security-Policy headers when the application also sets it
# It should be set by the application or directory-sepcific configuration directives
#Header always set Content-Security-Policy "script-src 'self' 'unsafe-inline'; frame-ancestors 'none'"

# Prevent embedding this site from other domains
Header always set X-Permitted-Cross-Domain-Policies "none"

# Prevent website indexing/archival/... by search engines
Header always set X-Robots-Tag "noindex,nofollow,noarchive,nosnippet"
