# Prevent access to version control directories (.git/.svn/.hg)

<Directorymatch "^/.*/\.git/">
    RedirectMatch 404 ".*"
</Directorymatch>

<Directorymatch "^/.*/\.svn/">
    RedirectMatch 404 ".*"
</Directorymatch>

<Directorymatch "^/.*/\.hg/">
    RedirectMatch 404 ".*"
</Directorymatch>

# Prevent access to possible .ssh/ directories

<Directorymatch "^/.*/\.ssh/">
    RedirectMatch 404 ".*"
</Directorymatch>
