<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="shortcut icon" href="{{ homepage_res_dir }}/services.png">
		<link rel="icon" type="image/png" href="{{ homepage_res_dir }}/services.png" sizes="16x16">
        <meta charset="utf-8">
        <title>{{ host_fqdn }}</title>
		<style>
		body {
			background: #eee;
			color: #222;
			font-family: "Roboto", "Helvetica", "Arial", sans-serif;
			font-weight: 400;
			line-height: 1.5;
			margin: 0 auto;
			max-width: 960px;
		}

		a {
			color: #222;
			text-decoration: none;
		}

		h1 {
			display: block;
			text-align: center;
		}

		h5 {
			margin: 0;
		}

		img {
		    vertical-align: middle;
		    margin: 0 0 3px 0;
		}

		code {
			color: #D36C5B;
			background-color: #FBE5E1;
			padding: 2px;
		}

		hr {
			color: #FFF;
			border-style: 1px solid;
			background-color: #FFF;
		}

		.content {
			height: 100%;
			width: 30%;
			margin: 0 auto 0 auto;
			text-align: center;
			display: block;
		}

		.content a {
			display: block;
			/*transition: background-color 0.4s, color 0.4s, border-color 0.1s;*/
			margin: 2px auto 2px auto;
			text-align: center;
			border-radius: 2px;
			padding: 3px;
			color: #222;
			border: 1px solid transparent;

		}

		.content a:hover {
			border: 1px solid;
		}

		.admin {
			height: 100%;
			min-width: 330px;
			max-width: 90%;
			margin: 0 auto 0 auto;
			text-align: left;
			display: block;
		}

		.admin a {
				color: #2D5175;
		}

		.search-box {
			background: #292421;
			border: 1px solid #D1EEEE;
			color: white;
			font-size: 1em;
			margin: 0;
			padding: 0.5em;
		}


		.nextcloud:hover a, .nextcloud:hover {
			background-color: #0082C9;
			border-color: #0082C9;
			color: #fff;
		}



		.shaarli:hover a, .shaarli:hover {
			background-color: #1B926C;
			border-color: #1B926C;
			color: #fff;
		}

		.tt-rss:hover a, .tt-rss:hover {
			background-color: #F2762E;
			border-color: #F2762E;
			color: #fff;
		}

		.transmission:hover a, .transmission:hover {
			background-color: #A50200;
			border-color: #A50200;
			color: #fff;
		}

		.gitea:hover a, .gitea:hover {
			background-color: #5C971C;
			border-color: #5C971C;
			color: #fff;
		}

		.icecast:hover a, .icecast:hover {
			background-color: #D0AE21;
			border-color: #D0AE21;
			color: #fff;
		}

		form {
			margin: 2.5em 0 0 0;
			padding: 0;
		}

		::placeholder {
			color: white;
		}
		</style>
    </head>
    <body>
    	<h1><a href="{{ host_fqdn }}">{{ host_fqdn }}</a></h1>
		<div class="content">
			{% if 'nextcloud' in role_names %}
			<a class="nextcloud" href="https://{{ host_fqdn }}/nextcloud/"><img src="{{ homepage_res_dir }}/nextcloud.png"/> Nextcloud</a>
			{% endif %}
			{% if 'shaarli' in role_names %}
			<a class="shaarli" href="https://{{ host_fqdn }}/links/"><img src="{{ homepage_res_dir }}/shaarli.png"/> Shaarli</a>
			{% endif %}
			{% if 'tt-rss' in role_names %}
			<a class="tt-rss" href="https://{{ host_fqdn }}/tt-rss/"><img src="{{ homepage_res_dir }}/tt-rss.png"/> Tiny Tiny RSS</a>
			{% endif %}
			{% if 'transmission' in role_names %}
			<a class="transmission" href="https://{{ host_fqdn }}/transmission/web/"><img src="{{ homepage_res_dir }}/transmission.png"/> Transmission</a>
			{% endif %}
			{% if 'gitea' in role_names %}
			<a class="gitea" href="https://{{ host_fqdn }}/gitea/"><img src="{{ homepage_res_dir }}/gitea.png"/> Gitea</a>
			{% endif %}
			{% if 'icecast' in role_names %}
			<a class="icecast" href="https://{{ host_fqdn }}/icecast/"><img src="{{ homepage_res_dir }}/icecast.png"/> Icecast</a>
			{% endif %}
		</div>
		{% if homepage_add_admin_info %}
		<div class="admin">
			<hr>
			<div>
				<h5><img src="{{ homepage_res_dir }}/services.png"/> Services admin</h5>
				Username <code>{{ services_username }}</code><br>
				Password <code>{{ services_password }}</code><br>
				Settings
				{% if 'nextcloud' in role_names %}
				<a href="https://neuralnet.xinit.se/nextcloud/index.php/settings/admin/overview"><img src="{{ homepage_res_dir }}/settings.png"/> Nextcloud</a> &nbsp;
				{% endif %}
				{% if 'shaarli' in role_names %}
				<a href="https://neuralnet.xinit.se/links/?do=tools"><img src="{{ homepage_res_dir }}/settings.png"/> Shaarli</a> &nbsp;
				{% endif %}
				{% if 'tt-rss' in role_names %}
				<a href="https://neuralnet.xinit.se/tt-rss/prefs.php"><img src="{{ homepage_res_dir }}/settings.png"/> Tiny Tiny RSS</a> &nbsp;
				{% endif %}
				{% if 'gitea' in role_names %}
				<a href="https://neuralnet.xinit.se/gitea/admin"><img src="{{ homepage_res_dir }}/settings.png"/> Gitea</a> &nbsp;
				{% endif %}
			</div>
			<hr>

			<div>
				<h5><img src="{{ homepage_res_dir }}/ssh.png"/> Server admin</h5>
				SSH <code>ssh -p 823 {{ admin_username }}@{{ host_fqdn }}</code><br>
				<i>sudo</i> password <code>{{ admin_password }}</code><br>
				<img src="{{ homepage_res_dir }}/sftp.png"/> <a href="sftp://{{ admin_username }}@{{ host_fqdn }}:823">SFTP</a> &nbsp; &nbsp; <img src="{{ homepage_res_dir }}/settings.png"/> <a href="config/{{ host_fqdn }}.yml">Config</a> &nbsp; &nbsp; <img src="{{ homepage_res_dir }}/settings.png"/> <a href="config/srv01-playbook.yml">Roles</a> &nbsp; &nbsp; <img src="{{ homepage_res_dir }}/secrets.png"/> <a href="secrets/">Secrets</a> &nbsp; &nbsp; <img src="{{ homepage_res_dir }}/backups.png"/> <a href="backups/">Backups</a> &nbsp; &nbsp;
			</div>
				<hr>
			<div>
			{% if 'samba' in role_names %}
			<img src="{{ homepage_res_dir }}/samba.png"/> Samba file shares (Linux/OSX) <code>smb://{{ host_fqdn }}</code> <br>
			<img src="{{ homepage_res_dir }}/samba.png"/> Samba file shares (Windows) <code>\\{{ host_fqdn }}</code><br>
			{% endif %}
			{% if 'nextcloud' in role_names %}
			<img src="{{ homepage_res_dir }}/calendar.png"/> CalDAV <code>https://{{ host_fqdn }}/nextcloud/remote.php/dav/calendars/{{ services_username }}/personal/</code><br>
			<img src="{{ homepage_res_dir }}/contacts.png"/> CardDAV <code>https://{{ host_fqdn }}/nextcloud/remote.php/dav/addressbooks/users/{{ services_username }}/contacts/</code><br>
			{% endif %}
			{% if 'mumble' in role_names %}
			<img src="{{ homepage_res_dir }}/mumble.png" /> Mumble <code>{{ host_fqdn }}</code>, port <code>64738</code>, password <code>{{ mumble_server_password }}</code><br>
			{% endif %}
			</div>
		</div>
		{% endif %}
    </body>
</html>

