UPDATE ttrss_users
   SET login    = '{{ tt_rss_user }}',
       pwd_hash = '{{ tt_rss_password|ttrss_password_hash(tt_rss_password_salt) }}',
       salt     = '{{ tt_rss_password_salt }}'
WHERE id = 1;